:root {

    --grey-body-background: #F8F9FF;
    --grey-medium: #D8D8D8;
    --black-principal: #2D2D2D;
    --cta-green: #009379;
    --cta-green-aqua: #E5F4F2;
    --secondary-sweet-corn: #F8D57E;
    --secondary-mandys-pink: #F2BFAF;
    --secondary-persimmon: #FF6250;

    --scala: 1.54;

    --base: 1rem;

    --size-title-2xl: calc(var(--size-title-xl) * var(--scala));
    --size-title-xl: calc(var(--size-title-l) * var(--scala));
    --size-title-l: calc(var(--size-title-m) * var(--scala));
    --size-title-m: calc(var(--size-title-normal) * var(--scala));
    --size-title-normal: var(--base);
    --size-title-s: calc(var(--size-title-normal) / var(--scala));
    --size-title-xs: calc(var(--size-title-s) / var(--scala));


    --scalaBody: 1.333;

    --size-body-xl: calc(var(--size-body-l) * var(--scalaBody));
    --size-body-l: calc(var(--size-body-normal) * var(--scalaBody));
    --size-body-normal: var(--base);
    --size-body-s: 0.875rem;



}

body {

    background-color: var(--grey-body-background);
}

main {
    padding-block: 1.5rem;
    padding-inline: 1.6rem;
}

header nav {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-block: 1.3rem;
    font-family: "Poppins", sans-serif;
    font-size: var(--size-body-l);

    p span {

        font-weight: 700;
    }

}


section.hero {

    padding-block: 1.5rem;
    padding-inline: 1.6rem;

    div h1 {
        font-family: "Poppins", sans-serif;
        font-size: var(--size-title-l);
        text-align: center;
        padding-block-end: 1rem;

    }

    div p {
        font-family: "Mulish", sans-serif;
        font-size: var(--base);
        text-align: center;
    }

    div button {


        display: flex;
        gap: 0.5rem;
        margin: 1rem auto 2rem;
        border: 0;
        border-radius: 20px;
        padding: 1.2rem 4rem;
        background-color: var(--cta-green);
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: var(--base);
        font-weight: 600;
    }
}


section.features {
    padding-block: 1.5rem;
    padding-inline: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
        font-family: "Poppins", sans-serif;
        font-size: var(--size-title-l);
        text-align: center;
    }

    p {
        font-family: "Mulish", sans-serif;
        font-size: var(--size-body-m);
        text-align: center;
    }

    .features.button {
        display: flex;
        gap: 1rem;
        align-items: center;
        border: 0;
        border-radius: 20px;
        background-color: white;
        padding: 1rem;
        font-family: "Poppins", sans-serif;
        font-size: var(--size-body-m);



        .button.background {
            padding: 0.5rem;
            border-radius: 12px;
            background-color: var(--cta-green-aqua);
            margin-left: 1rem;
        }



    }

    .mobile.features {

        margin-bottom: 5rem;
    }






}



.section.projects {

    padding-block: 1.5rem;
    padding-inline: 1.6rem;

    h2 {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: var(--size-title-l);
        margin-bottom: 1rem;
    }

    h2+p {
        text-align: center;
        font-family: "Mulish", sans-serif;
        font-size: var(--size-body-m);
        margin-bottom: 2rem;
    }

    .card {
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        margin-bottom: 2rem;


        img {
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
        }

        h3 {

            font-family: "Poppins", sans-serif;
            font-size: var(--size-body-l);
            margin: 1rem 0rem 1rem 2rem;
        }

        .text {

            font-family: "Mulish", sans-serif;
            font-size: var(--size-body-m);
            margin: 1rem 0rem 0rem 2rem;
        }

        .text+p {

            padding-bottom: 2rem;
        }





    }

}


.section.testimonials {
    background-color: var(--secondary-sweet-corn);
    padding-block: 1.5rem;
    padding-inline: 1.6rem;

    h2 {

        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: var(--size-title-l);
        margin-top: 5rem;
    }

    h2+p {
        text-align: center;
        font-family: "Mulish", sans-serif;
        font-size: var(--size-body-m);
        margin-bottom: 5rem;

    }

    .container.card.testimonials{

        display: flex;
        flex-direction: column;
        gap: 3rem;
        


        .card.testimonials {

        border-radius: 20px;
        padding: 2.8rem;
        background-color: white;
        

        h3 {
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 21px;
        }

        h3+p {

            text-align: center;
            padding-bottom: 2rem;
        }

        p+p {
            text-align: center;
        }


        .image.user {
            display: block;
            border-radius: 50%;
            width: 50%;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .container.testimonials.star{
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            
            

            




    }




}
    }
    

}










/* ================================================
                    QUITAR
    ================================================
*/

/* main,
section,
nav,
div,
footer {
    border: 1px solid #2D2D2D;

} */

/* ================================================
                        QUITAR
        ================================================
    */